body {
    font-size: 20px;
    font-family: 'Noto Sans', 'Microsoft Yahei', SimSun, serif;
}

div.zh {
    display: block;
}

div.big {
    font-size: 36px;
}

div.atom {
    padding-right: 0.2em;
    display: inline-block;
}

div#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

div#widecontainer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

div.lesswide {
    width: 400px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    height: 60px;
    position: relative;
}

div.lesswide p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

div.wide {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

div.linkbox {
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: .5em 2em .5em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.linkbox:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
